<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <style>
        .id{
            width:88px;
            height:28px;
            font-size: 18px;
        }
    </style>
</head>
<body>
{include file="public/public"/}
<div class="main">
    <!-- 左列表 -->
    {include file="public/left"/}
    <!-- 左列表 -->
    <div class="contend" id="updatePassword">
        <form method="post" name="val"action="{:url('Base/updatePassword')}"   enctype="multipart/form-data">
            <div style="align:center;">
                <div style="text-align: center;"><h1>修改密码</h1></div><br/>
                <input type="hidden" name="adId" class="add1" value="adId">
                <div style="align:center;text-align: center;margin:0 auto;">
                    <div><span class="id" style="margin-left: 5px;margin-right: 5px;">用户名：</span><input type="text" name="username" class="add1" readonly="value" value=" {$username} "></div><br/>
                    <div><span class="id">原始密码：</span><input type="password" name="password" class="add1" value=""></div><br/>
                    <div><span class="id">修改密码：</span><input type="password" name="update" class="add1" value=""></div><br/>
                    <div><span class="id">确认密码：</span><input type="password" name="confirm" class="add1" value=""></div><br/>
                    <div>
                        <button type="submit" class='button1' style="font-size: 20px;width: 80px;background-color: #F5F5F5;">修改</button>
                        {if condition="$status eq 1"}
                        <a  class="button1"  href="{:url('user/listCode')}" style="width:80px;height:28px;">
                            <input type="button" style="font-size: 20px;background-color: #F5F5F5;width: 80px;line-height: 28px;text-align: center;" value="取消"/>
                        </a>
                        {else/}
                        <a  class="button1"  href="{:url('admin/listAdmin')}" style="width:80px;height:28px;">
                            <input type="button" style="font-size: 20px;background-color: #F5F5F5;width: 80px;line-height: 28px;text-align: center;" value="取消"/>
                        </a>
                        {/if}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="__JS__/datetime.js"></script>
<script type="text/javascript">
    function isUpdate(){
        if (confirm('确定修改密码？')){
            return true;
        }else{
            return false;
        }
    }
    $('.xx').click(function(){
        $('#updatePassword').hide();
    });

</script>
</body>
</html>