<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册码管理</title>
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/common.css">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <script src="__JS__/jquery.js"></script>
    <style>
        .select{
            width: 178px;
            height: 34px;
            border: 1px solid #dbdbdb;
            border-radius: 5px;
            font-weight: normal;
        }
    </style>
</head>
<body>
<!--头部-->
{include file="public/head"/}
<!--身体-->
<div class="body-box">
    <!--左部导航-->
    {include file="public/left"/}
    <!--右部展示-->
    <div class="body-right" style="overflow-y: auto;">
        <div id="right" style="width: 100%;height: 100%">
            <div id="main">
                <!--搜索框-->
                <div id="toolbar">
                    <div class="class-input">
                        <span>编号：</span>
                        <input type="text">
                    </div>
                    <div class="class-input">
                        <span>用户名：</span>
                        <input type="text">
                    </div>
                    <div class="class-input">
                        <span>姓名：</span>
                        <input type="text">
                    </div>
                    <div class="class-input">
                        <span>日期：</span>
                        <input type="text">
                    </div>
                    <div class="class-btn class-select">查询</div>
                </div>
                <!--搜索-->
                <div class="class-btn class-add">增加</div>
                <div class="container-fluid">
                    <table class="table table-bordered table-striped ">
                        <tr>
                            <th>注册码编号</th>
                            <th>所属公司</th>
                            <th>mac地址</th>
                            <th>创建者</th>
                            <th>创建日期</th>
                            <th>有效日期</th>
                            <th>注册码</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        {if condition="$condition eq 'all'"}
                        {volist name='code' id='v'}
                        <tr class="td-color">
                            <td>{$v.coId}</td>
                            <td>{$v.company}</td>
                            <td>{$v.mac}</td>
                            <td>{$v.creator}</td>
                            <td>{$v.createTime}</td>
                            <td>{$v.expireTime}</td>
                            <td>{$v.code}</td>
                            <td>{$v.other}</td>
                            <td>
                                <div class="class-btn class-update">
                                    <a href="javascript:void (0);" style="color:white;">修改</a>
                                </div>
                                <div class="class-btn class-del">
                                    <a href="javascript:void (0);" style="color:white;">删除</a>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                        {elseif condition="$condition eq 'soonExpire'"}
                        {volist name='code' id='v'}
                        <tr class="td-color">
                            <td>{$v.coId}</td>
                            <td>{$v.company}</td>
                            <td>{$v.mac}</td>
                            <td>{$v.creator}</td>
                            <td>{$v.createTime}</td>
                            <td style="color:red;">{$v.expireTime}</td>
                            <td>{$v.code}</td>
                            <td>{$v.other}</td>
                            <td>
                                <div class="class-btn class-update">
                                    <a href="javascript:void (0);" style="color:white;">修改</a>
                                </div>
                                <div class="class-btn class-del">
                                    <a href="javascript:void (0);" style="color:white;">删除</a>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                        {else/}
                        {volist name='code' id='v'}
                        <tr class="td-color">
                            <td>{$v.coId}</td>
                            <td>{$v.company}</td>
                            <td>{$v.mac}</td>
                            <td>{$v.creator}</td>
                            <td>{$v.createTime}</td>
                            <td style="color:red;">{$v.expireTime}</td>
                            <td>{$v.code}</td>
                            <td>{$v.other}</td>
                            <td>
                                <div class="class-btn class-update">
                                    <a href="javascript:void (0);" style="color:white;">修改</a>
                                </div>
                                <div class="class-btn class-del">
                                    <a href="javascript:void (0);" style="color:white;">删除</a>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                        {/if}
                    </table>
                </div>
            </div>
            <!-- 新增 -->
            <div id="alert-box">
                <form method="post" name="val" action="{:url('User/addCode')}" enctype="multipart/form-data">

                    <div class="alert-title">
                        <span>申请注册码</span>
                        <div class="alert-close">
                            <img src="__IMG__/close.png" alt="">
                        </div>
                    </div>
                    <label class="alert-con">
                        <span>客户公司：</span>
                        <input type="text" name="company">
                    </label>
                    <label class="alert-con">
                        <span>mac地址：</span>
                        <input type="text" name="mac">
                    </label>
                    <label class="alert-con">
                        <span>有效日期：</span>
                        <input type="date" name="expireTime">
                    </label>
                    <label class="alert-con">
                        <span>备注：</span>
                        <input type="text" name="app">
                    </label>
                    <div class="alert-btn">
                        <button type="submit" class="alert-sure">确定</button>
                        <span class="alert-cancel">取消</span>
                    </div>
                </form>
            </div>
            <!--删除 弹框-->
            <div class="delete">
                <div id="delete">
                    <div class="ltitle">温馨提示</div>
                    <div class="lcon">
                        <img src="__IMG__/jinggao.png" alt="">
                        <p>确定删除</p>
                    </div>
                    <div class="alert-btn">
                        <button type="submit" class="alert-sure">确定</button>
                        <span class="alert-cancel">取消</span>
                    </div>
                </div>
            </div>
            <!-- 修改 -->

        </div>
    </div>
    <!--底部-->
    {include file="public/foot"/}
</div>
</body>
</html>
<script>
    $(function () {
        $(".list1 > a ").click(function(){
            $(this).toggleClass("act");
            $(this).find("img").toggleClass("active");
            $(this).siblings().stop().slideToggle().end().parent().siblings().find("ul").slideUp();
            $(this).parent().siblings().find("a img").removeClass("active");
            $(this).parent().siblings().find("a").removeClass("act");
        });
        $(".class-add").click(function () {
            $("#alert-box").css("display","block")
        })
        $(".alert-close").click(function () {
            $("#alert-box").css("display","none")
            $("#alert-box-update").css("display","none")
            $("#alert-pass-update").css("display","none")
            $("#alert-owninfo-update").css("display","none")
        })
        $(".alert-cancel").click(function () {
            $("#alert-box").css("display","none")
            $("#alert-box-update").css("display","none")
        })
        $(".lout").click(function () {
            $(".logout").css("display","block")
        })
        $(".lbtn").click(function () {
            $(".logout").css("display","none")
            $(".delete").css("display","none")
        })
        $(".cbtn").click(function () {
            $(".delete").css("display","none")
        })
        $(".class-del").click(function () {
            $(".delete").css("display","block")
        })
        $(".class-update").click(function () {
            $("#alert-box-update").css("display","block")
        })
    })
    function update(adId){
        //console.log(id);
        $.post("{:url('one')}",{adId:adId},function(data){
            // console.log(data);
            if(data) {
                // console.log(data['id']);
                $("input[name='adId']").val(data[0].adId)
                $("input[name='username']").val(data[0].username)
                $("input[name='password']").val(data[0].password)
                $("input[name='surname']").val(data[0].surname)
                $("select[name='status']").val(data[0].status)
            }
        },'json');
    }

    $('.alert-cancel').click(function(){
        $('#alert-box-update').hide();
        window.location.reload();  //自动刷新本页面
    });
    function confirmDel(adId) {
        if(confirm('确定删除这个用户吗？')){
            return location.href="deleteAdmin?adId="+adId;
        }else{
            return false;
        }
    }
</script>



