<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>即将失效的注册码</title>
</head>
<body>
<!--头部-->
{include file="public/head"/}
<!--身体-->
<div class="body-box">
    <!--左部导航-->
    {include file="public/left"/}
    <!--右部展示-->
    <div class="body-right" style="overflow-y: auto;">
        <div id="right" style="width: 100%;height: 100%">
            <div id="main">
                <div id="toolbar">
                    <div class="class-input">
                        <span>编号：</span>
                        <input type="text">
                    </div>
                    <div class="class-input">
                        <span>用户名：</span>
                        <input type="text">
                    </div>
                    <div class="class-input">
                        <span>姓名：</span>
                        <input type="text">
                    </div>
                    <div class="class-input">
                        <span>日期：</span>
                        <input type="text">
                    </div>
                    <div class="class-btn class-select">查询</div>
                </div>
                <div class="class-btn class-add">增加</div>
                <div class="container-fluid">
                    <table class="table table-bordered table-striped ">
                        <tr>
                            <th>注册码编号</th>
                            <th>所属公司</th>
                            <th>mac地址</th>
                            <th>创建者</th>
                            <th>创建日期</th>
                            <th>有效日期</th>
                            <th>注册码</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        {volist name='code' id='v'}
                        <tr class="td-color">
                            <td>{$v.coId}</td>
                            <td>{$v.company}</td>
                            <td>{$v.mac}</td>
                            <td>{$v.creator}</td>
                            <td>{$v.createTime}</td>
                            <td>{$v.expireTime}</td>
                            <td>{$v.code}</td>
                            <td>{$v.other}</td>
                            <td>
                                <div class="class-btn class-update">
                                    <a href="javascript:void (0);" style="color:white;">修改</a>
                                </div>
                                <div class="class-btn class-del">
                                    <a href="javascript:void (0);" style="color:white;">删除</a>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
            </div>
        </div>
        </div>
    <!--底部-->
    {include file="public/foot"/}
    </div>
</body>
</html>
<script>
    $(function () {
        $(".list1 > a ").click(function(){
            $(this).toggleClass("act");
            $(this).find("img").toggleClass("active");
            $(this).siblings().stop().slideToggle().end().parent().siblings().find("ul").slideUp();
            $(this).parent().siblings().find("a img").removeClass("active");
            $(this).parent().siblings().find("a").removeClass("act");
        });
        $(".alert-close").click(function () {
            $("#alert-box").css("display","none")
            $("#alert-box-update").css("display","none")
            $("#alert-pass-update").css("display","none")
            $("#alert-owninfo-update").css("display","none")
        })
        $(".alert-cancel").click(function () {
            $("#alert-box").css("display","none")
            $("#alert-box-update").css("display","none")
        })
        $(".lout").click(function () {
            $(".logout").css("display","block")
        })
        $(".lbtn").click(function () {
            $(".logout").css("display","none")
            $(".delete").css("display","none")
        })
        $(".cbtn").click(function () {
            $(".delete").css("display","none")
        })
        /*$(".class-del").click(function () {
         $(".delete").css("display","block")
         })*/

    })

</script>