<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员首页</title>
</head>
<body>
<!-- 上列表 -->
{include file="Public/public"/}
<!-- 上列表 -->
<div class="main">
    <!-- 左列表 -->
    {include file="public/left"/}
    <!-- 左列表 -->
    <div class="contend">

        <div class="mask" name="aboutmask" id="aboutmask" style="display:none">
            <div class="mask_in mask_in6" style="height:300px;width:400px;">
                <form method="post" name="val" action="{:url('Admin/addAdmin')}" enctype="multipart/form-data">
                    <h1>添加用户</h1>
                    <!-- <a href="javascript:" class="xx" > x<a> -->
                    <input type="hidden" name="adId" class="add1" value="">
                    <input type="hidden" name="password" class="add1" value="123456">

                    <div class="mask_in1"><span class="sp">用户编号</span><input type="text" name="adId" class="add1" value=""></div><br/>
                    <div class="mask_in1"><span class="sp">用户名</span><input type="text" name="username" class="add1" value=""></div><br/>
                    <div class="mask_in1"><span class="sp">姓名</span><input type="text" name="surname" class="add1" value=""></div><br/>
                    <div class="mask_in1"><span class="sp">用户类型</span>
                    <select class="add1" name="status">
                        <option selected value="1">用户</option>
                        <option value="0">管理员</option>
                    </select>
                    </div><br/>
                    <div style="text-align: center;line-height: 28px;">
                        <button type="submit" class='button1'>提交</button>
                        <span class="xx button2">取消</span>
                    </div>
                </form>
            </div>
        </div>

        <div class="mask" name="aboutmask" id="aboutmask1" style="display:none">
            <div class="mask_in mask_in4" style="height:300px;width:400px;">
                <form method="post" name="val" action="{:url('Admin/editAdmin')}"  enctype="multipart/form-data">
                    <h1>用户信息修改</h1>
                    <input type="hidden" name="adId" class="add1" value="">

                    <div class="mask_in1"><span class="sp">用户编号</span><input type="text" name="adId" class="add1" readonly value=""></div><br/>
                    <div class="mask_in1"><span class="sp">用户名</span><input type="text" name="username" readonly='value' class="add1" value=""></div><br/>
                    <div class="mask_in1"><span class="sp">姓名</span><input type="text" name="surname" class="add1" value=""></div><br/>
                    <div class="mask_in1"><span class="sp">用户类型</span>
                        <select class="add1" name="status">
                            <option selected value="1" name="">用户</option>
                            <option value="0" name="">管理员</option>
                        </select>
                    </div><br/>
                    <div style="text-align: center;line-height: 28px;">
                        <button type="submit" class='button1'>提交</button>
                        <span class="xx button2">取消</span>
                    </div>
                </form>
            </div>
        </div>


        <h1>用户管理</h1><br>
        <div class="zoom_clear" style="float: left;">
            <div id="add" class="add" onclick="add()">增加用户</div>
        </div><br><br><br>

        <!-- 搜索框内容 -->
        {include file="admin/searchAdmin"/}
        <!-- 搜索框内容 -->

        <table class="mod-table" cellspacing="0" cellpadding="0" style="width: 98%;">
            <thead>
            <tr>
                <th><input type="text" value="用户编号" class="tdInput"/></th>
                <th><input type="text" value="用户名" class="tdInput"/></th>
                <th><input type="text" value="密码" class="tdInput"/></th>
                <th><input type="text" value="姓名" class="tdInput"/></th>
                <th><input type="text" value="创建日期" class="tdInput"/></th>
                <th><input type="text" value="用户类型" class="tdInput"/></th>
                <th><input type="text" value="操作" class="tdInput"/></th>
            </tr>
            </thead>

            <tbody>
            {volist name="admin" id="v"}
            <tr class="td-color" id="id">
                <td><input type="text" value="{$v.adId}" style="text-align: center;"/></td>
                <td><input type="text" value="{$v.username}" style="text-align: center;"/></td>
                <td><input type="text" value="{$v.password}" style="text-align: center;width:280px;padding:0px;"/></td>
                <td><input type="text" value="{$v.surname}" style="text-align: center;"/></td>
                <td><input type="text" value="{$v.createTime}" style="text-align: center;"/></td>
                <td><input type="text" value="{$v.status}" style="text-align: center;"/></td>
                <td class="operating">
                    <a href="javascript:void (0);" onclick="update({$v['adId']})" style="text-decoration: underline;">修改</a>|
                    <a href="javascript:void (0);" onclick="confirmDel({$v['adId']});" style="text-decoration: underline;">删除</a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <div  class="page-list zoom_clear pagination">
           {$page}
        </div>
    </div>
</div>
</div>

</body>
<script type="text/javascript" src="__JS__/jquery-1.10.1.min.js"></script>
<script>
    function update(adId){
        //console.log(id);
        $.post("{:url('one')}",{adId:adId},function(data){
        // console.log(data);
            if(data) {
        // console.log(data['id']);
                $("input[name='adId']").val(data[0].adId)
                $("input[name='username']").val(data[0].username)
                $("input[name='password']").val(data[0].password)
                $("input[name='surname']").val(data[0].surname)
                $("input[name='status']").val(data[0].status)
            }

        },'json');
        $('#aboutmask1').show();
    }
    $('.xx').click(function(){
        $('#aboutmask1').hide();
        window.location.reload();  //自动刷新本页面
    });
    $(document).ready(function(){
        //赋值高度
        var height = $(window).height();
        var headHeight = $(".head").innerHeight();
        var mainHeight = height - headHeight;
        $(".main").css("height",mainHeight);
    });

    function add(){
        $('#aboutmask').show();
    }
    $('.xx').click(function(){
        $('#aboutmask').hide();
        window.location.reload();  //自动刷新本页面
    });

    function confirmDel(adId) {
        if(confirm('确定删除这个用户吗？')){
            return location.href="deleteAdmin?adId="+adId;
        }else{
            return false;
        }
    }
    function Del(adId){
        layer.confirm('您确定要删除这条信息吗？',{
                    btn:['确定','取消']
                },function(){
                    $.post("{:url('admin/deleteAdmin')}",{'adId':adId},function(data){
                        //console.log(data.status);
                        if(data.status==0){
                            //layer.msg(data.msg,{icon:1});
                            layer.msg(data.msg);
                            $("#id_"+adId).empty();
                        }else{
                            //layer.msg(data.msg,{icon:2});
                            layer.msg(data.msg);
                            return false;
                        }
                    });
                },"json"
        );
    }
</script>
</html>