<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!-- 搜索框内容 -->
<div style="float:right;">
    <form action="{:url('Admin/listAdmin')}" method="post">
    <ul class="nav">
        <li id="search" style="border: 1px solid #C2C2C2;">
                <input type="text" name="search_text" id="search_text" placeholder="请输入搜索内容"/>
                <button type="submit" name="search_button" id="search_button"><img src="__IMG__/4.png"></button>
        </li>
        <li  style="border: 1px solid #C2C2C2;height:28px;" >
            <select class="subnav" id="sel" name="sel">
                <option value="adId" selected>按用户编号搜索</option>
                <option value="username">按用户名搜索</option>
                <option value="surname">按姓名搜索</option>
                <option value="status">按用户权限搜索</option>
            </select>
        </li>
    </ul>
    </form>
</div>
</div>
<!-- 搜索框内容 -->
</body>
</html>