<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="menu">
    {if condition="$status eq 0"}
    <li class="cur">
        <a href="{:url('Admin/listAdmin')}">用户管理</a>
    </li>
    {else/}
    <li class="cur">
        <a href="{:url('User/listStates')}">国家管理</a>
    </li>
    <li class="cur">
        <a href="{:url('User/listClient')}">客户管理</a>
    </li>
    <li class="cur">
        <a href="{:url('User/listCode')}">注册码管理</a>
    </li>
    {/if}
</ul>
</body>
</html>