<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索即将失效的注册码</title>
</head>
<body>
<!-- 搜索框内容 -->
<div style="float:right;">
    <form action="{:url('User/soonExpireCode')}" method="post">
        <ul class="nav">
            <li id="search" style="border: 1px solid #C2C2C2;">
                <input type="text" name="search_text" id="search_text" placeholder="请输入搜索内容"/>
                <button type="submit" name="search_button" id="search_button"><img src="__IMG__/4.png"></button>
            </li>
            <li style="border: 1px solid #C2C2C2;height:28px;">
                <select class="subnav" name="sel">
                    <option value="coId" name="coId">按注册码编号搜索</option>
                    <option value="company" name="company">按客户公司搜索</option>
                    <option value="mac" name="mac">按mac地址搜索</option>
                    <option value="creator" name="creator">按创建者搜索</option>
                    <option value="expireTime" name="expireTime">按创建时间搜索</option>
                </select>
            </li>
        </ul>
    </form>
</div>
</div>
<!-- 搜索框内容 -->
</body>
</html>