<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!-- 上列表 -->
{include file="Public/public"/}
<!-- 上列表 -->
<div class="main">
    <!-- 左列表 -->
    {include file="public/left"/}
    <!-- 左列表 -->
    <div class="contend">

        <h1>即将失效的注册码</h1><br>
      <!--  <div class="zoom_clear" style="float: left;">
            <div id="add" class="add" onclick="add()">申请注册码</div>
        </div>-->
        <div class="zoom_clear" style="float: left;margin-left: 10px;">
            <div class="add" style="width:180px;"><a href="{:url('User/listCode')}" style="color:white;">返回列表</a></div>
        </div><br><br><br>

        <!-- 搜索框内容 -->
        {include file="user/searchSoonCode"/}
        <!-- 搜索框内容 -->

        <table class="mod-table" cellspacing="0" cellpadding="0" style="width: 98%;">
            <thead>
            <tr>
                <th>注册码编号</th>
                <th>所属公司</th>
                <th>mac地址</th>
                <th>创建者</th>
                <th>创建日期</th>
                <th>有效日期</th>
                <th>注册码</th>
                <th>备注</th>
            </tr>
            </thead>

            <tbody>
            {volist name='expireCode' id='v'}
            <tr class="td-color">
                <td>{$v.coId}</td>
                <td>{$v.company}</td>
                <td>{$v.mac}</td>
                <td>{$v.creator}</td>
                <td>{$v.createTime}</td>
                <td style="color: red;font-size: 19px;">{$v.expireTime}</td>
                <td>{$v.code}</td>
                <td>{$v.other}</td>
            </tr>
            {/volist}
            </tbody>
        </table>

        <!-- 分页 -->
        <div class="page-list zoom_clear pagination">
            {$page}
        </div>
        <!--分页-->

    </div>
</div>
</div>
</body>

</html>