<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <style>
        .id{
            width:88px;
            height:28px;
            font-size: 18px;
        }
    </style>
</head>
<body>
{include file="public/public"/}
<div class="main">
    {if condition="$status eq 1"}
    {include file="user/left"}
    {/if}
    {if condition="$status eq 0"}
    {include file="admin/left"}
    {/if}
    <div class="contend">
                <form method="post" name="val" action="{:url('Base/updatePassword')}"  enctype="multipart/form-data">
                    <div style="align:center;">
                        <div style="text-align: center;"><h1>修改密码</h1></div><br/>
                        <input type="hidden" name="adId" class="add1" value="">
                        <div style="align:center;text-align: center;margin:0 auto;">
                            <div><input type="text" class="id" value="&nbsp;&nbsp;用户名："/><input type="text" name="username" class="add1" readonly="value" value=" {$username} "></div><br/>
                            <div><input type="text" class="id" value="原始密码："/><input type="password" name="password" class="add1" value=""></div><br/>
                            <div><input type="text" class="id" value="修改密码："/><input type="password" name="update" class="add1" value=""></div><br/>
                            <div><input type="text" class="id" value="确认密码："/><input type="password" name="confirm" class="add1" value=""></div><br/>

                            <div>
                                <button type="submit" class='button1' style="font-size: 18px;">提交</button>
                                <input type="submit" style="font-size: 18px;" value="取消"/>
                            </div>
                        </div>
                    </div>
                </form>
    </div>
</div>

</body>
</html>